# Airflow
logs/
*.log
airflow.db

# БОЛЬШИЕ ФАЙЛЫ - НЕ добавлять в git!
*.csv
*.json
*.ipynb
*.parquet

# Временные файлы Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Папки с данными
data/
dags/data/

# Временные Python файлы
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Python virtual envs
venv/
env/
